<h1>Docs</h1>

<pre>


REST JSON Overview:

<a href="api/v1/stores">GET /api/v1/stores</a>

Description: Lists all stores.
Format: [Store] // See Store Format below


<a href="">GET /api/v1/stores/:id</a>
Example: <a href="api/v1/stores/54574297e4b02a012c93a6eb">api/v1/stores/54574297e4b02a012c93a6eb</a>

Description: A single store.
Format: Store
  {
    _id: String - Identifies this store. Used as a reference in ALL orders.

    name: String - name of store

    address: { // example: 871 Younge st. Toronto ON CA M4W4H2
      store: String - name of store
      number: String // 871
      street: String //Younge st.
      town: String // Toronto
      state: String // ON CA
      zip: String // M4W4H2
    }

    phone: String, // +9872213364
    fax: String, // +9872213648
    email: String,  // gnt.pharma@gmail.com

    logo: {
      href: String // url to logo
    }

    gps: { // gps coordinate for store
      lat: String, // 43.674043,
      lon: String // -79.388187
    },

    updatedAt: last updated date
    createdAt: creation date
  }




<a href="#/docs#callDoctor">POST /api/v1/orders/callDoctor</a>
<a href="#/docs#sendPrescription">POST /api/v1/orders/sendPrescription</a>
<a href="#/docs#requestMedsCheck">POST /api/v1/orders/requestMedsCheck</a>
<a href="#/docs#transferPrescription">POST /api/v1/orders/transferPrescription</a>


<h2 id="callDoctor">## callDoctor</h2>

<pre>
POST /api/v1/orders/callDoctor

Request:
  body:
  {
    // User Information
    user: {
      name: {
        first: String,
        last: String
      },
      phone: String,
      email: String,

      allergies: [String], // optional
      medicalConditions: [String] // optional
    },

    // Doctor Information
    doctor: {
      name: {
        first: String,
        last: String
      },
      phone: String, // optional
      address: String, // optional
      city: String
    },

    // Prescriptions
    prescriptionNames: [String],

    // Pharmacy
    store: String, // see _id field in /api/v1/stores

    instructions: String // optional
  }


<h2 id="sendPrescription">## sendPrescription</h2>
<pre>
POST /api/v1/orders/sendPrescription

Request:
  body:
  {
    // Photo of prescription
    prescription: {
      name: String, // optional
      type: String, // optional
      data: Buffer, // img data as binary
      stringData: String // img data as string, optional
    },

    // User Information
    user: {
      name: {
        first: String,
        last: String
      },
      phone: String,
      email: String,

      allergies: [String], // optional
      medicalConditions: [String] // optional
    },

    // Prescriptions
    prescriptionNames: [String],

    // Pharmacy
    store: String, // see _id field in /api/v1/stores

    instructions: String // optional
  }


<h2 id="requestMedsCheck">## requestMedsCheck</h2>
<pre>
POST /api/v1/orders/requestMedsCheck

Request:
  body:
  {
    // User Information
    user: {
      name: {
        first: String,
        last: String
      },
      phone: String,
      email: String,

      allergies: [String], // optional
      medicalConditions: [String] // optional
    },

    // Possible times
    possibleTimes: [ Date ],
    // see http://en.wikipedia.org/wiki/ISO_8601
    // or https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date

    // Pharmacy
    store: String, // see _id field in /api/v1/stores

    instructions: String // optional
  }


<h2 id="transferPrescription">## transferPrescription</h2>
<pre>
POST /api/v1/orders/transferPrescription

Request:
  body:
  {
    // User Information
    user: {
      name: {
        first: String,
        last: String
      },
      phone: String,
      email: String,

      allergies: [String], // optional
      medicalConditions: [String] // optional
    },

    // Prescriptions
    prescriptionNames: [String],

    // Transfer
    transfer: {
      from: String // see _id field in /api/v1/stores
      to: String // see _id field in /api/v1/stores
    },

    instructions: String // optional
  }
</pre>