<div ng-controller="StoreListCtrl">
  <h1>Stores</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Fax</th>
      <th>Logo</th>
      <th>Location</th>
    </tr>
    <tr ng-repeat="store in stores" ng-class="{lightGreen: $index%2==0}">
      <td>{{ store.name }}</td>
      <td>{{ store.address }}</td>
      <td>{{ store.phone }}</td>
      <td>{{ store.email }}</td>
      <td>{{ store.fax }}</td>
      <td><img class="pharmacy-logo" ng-src="{{ store.logo.href }}"></td>

      <td>{{ store.gps.lat }} , {{ store.gps.lon }}</td>
    </tr>
  </table>
</div>